<%= form_for(@movement, html: {id: 'form_traditional_validation'}) do |f| %>

<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.label :description, 'Descrição', class: 'form-label' %>

<%= f.text_field :description, maxlength: 255, class: 'form-control', required: true, rows: 3 %>

<%= f.label :type, 'Tipo da movimentação', class: 'form-label' %>
<%= f.select :type, [['Lucros', MovementCategory::INCOME], ['Despesas', MovementCategory::COSTS]] %>

<%= f.label :paid, 'Já foi pago?'  %>
<%= f.select :paid, [['Sim', true], ['Não', false]], { }, { class: 'form-control', style: 'width:100%' } %>
<%= f.label :value, 'Valor', class: 'form-label' %>
<%= f.text_field :value, required: true, class: 'form-control' %>
<%= f.label :from_of, '', class: 'form-label', id: 'movement_label_from_of' %>
<%= f.text_field :from_of, maxlength: 100, class: 'form-control' %>
<%= f.label :expiration, 'Vencimento' , class: 'form-label' %>
<%= f.text_field :expiration,  class: 'form-control' %>

<% if @movement.errors.any? %>
   A sua tentativa gerou <a href="#" class="link">
      <%= pluralize(@movement.errors.count,'erro') %>: </a>
      <% @movement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </div>
<% end %>
<%= f.submit 'Salvar', class: 'btn btn-danger btn-cons', id: 'submit_form' %>
<% end %>