<%= render 'layouts/administrator_navbar' %>

<%= link_to "Novo", new_movement_path %>

<table class="table" id="movimentacao">
  <thead>
  <tr>
    <th>Descrição</th>
    <th>"de" ou "para" quem!</th>
    <th>Valor</th>
    <th>Pago?</th>
    <th>Vencimento</th>
  </tr>
  </thead>

  <tbody>
  <% @movements.each do |movement| %>
      <tr   data-toggle="modal" data-target="#myModal" data-id="<%= movement.id %>">
        <td><%= movement.description %></td>
        <td><%= movement.from_of %></td>
        <td><%= number_to_currency movement.value %></td>
        <td><%= to_readable_paid movement.paid %></td>
        <td><%= due_date_formatted movement.expiration %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if notice %>
<%= notice %>!
<% end %>