<%= form_for(@contract, html: {id: 'form_traditional_validation'}) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
 <%= f.label :passenger_id, 'Nome do passageiro', class: 'form-label' %>
<%= f.select :passenger_id,
                           @passengers.collect{|passenger| [passenger.passenger_name, passenger.id]}, { },
                           {class: 'select2', style: 'width:100%'} %>
<%= f.label :account_id, 'Banco para pagamento', class: 'form-label' %>
<%= f.select :account_id, @accounts.collect {|acc| [acc.nick, acc.id]}, { },
                           {class: 'select2', style: 'width:100%'} %>
<%= f.label :interest, 'Juros R$ (p/ dia)', class: 'form-label' %>
<%= f.text_field :interest, class: 'form-control',
                               value: current_user.configuration.default_interest %>
<%= f.label :value, 'Valor mensal', class: 'form-label' %>
<%= f.text_field :value, class: 'form-control',
                               value: current_user.configuration.default_value %>
<%= f.label :start, 'Início do contrato' , class: 'form-label' %>
<%= f.text_field :start, class: 'form-control' %>
<%= f.label :closing_date, 'Término do contrato', class: 'form-label' %>
<%= f.text_field :closing_date, class: 'form-control' %>

<% if @contract.errors.any? %>
    <div class="alert alert-block alert-error fade in col-md-10">
      <button type="button" class="close" data-dismiss="alert"></button>
      <h4 class="alert-heading"><i class="icon-warning-sign"></i> Atenção!</h4>
      A sua tentativa gerou <a href="#" class="link">
      <%= pluralize(@contract.errors.count,'erro') %>: </a>
      <% @contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </div>
<% end %>
<%= f.submit 'Salvar', class: 'btn btn-danger btn-cons', id: 'submit_form', onsubmit: "setTimeout('delayedRedirect()', 3000)" %>
<% end %>
