<%= render 'layouts/administrator_navbar' %>

<%= link_to "Novo", new_contract_path %>

<table class="table table-striped" id="contract">
  <thead>
  <tr>
    <th>Passageiro</th>
    <th>Banco</th>
    <th>Tempo</th>
    <th>Término</th>
    <th>Valor Mensal</th>
  </tr>
  </thead>
  <tbody>
  <% @contracts.each do |contract| %>
      <tr class="index-table" title="Clique para visualizar!" data-id="<%= contract.id %>" data-passegerid="<%= contract.passenger.id %>">
        <td><%= contract.passenger.passenger_name %></td>
        <td><%= contract.account.bank.full_name %></td>
        <td><%= distance_of_time_in_words(contract.start, contract.closing_date) %></td>
        <td><%= to_last_month contract %></td>
        <td><%= number_to_currency contract.value %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if notice %>
<%= notice %>
<% end %>