<%= render 'layouts/administrator_navbar' %>
<%= image_tag(current_user.image_url(:thumb).to_s, data: {src: current_user.image_url(:thumb).to_s,
                                                                              :'src-retina' => current_user.image_url(:thumb2x).to_s}) if current_user.image? %>
<%= form_for(@user.configuration, :url => {
                                                                  :controller => 'my_configurations',
                                                                  :action => 'update',
                                                                  :id => @user.configuration.id }) do |f| %>
                              <p>Altere aqui suas configurações pré definidas para:</p>
                              <br>
                              <label class="form-label">Vencimento de Boletos em dias úteis</label>
                              <%= f.number_field :business_day_for_payments, class: 'form-control', min: 1, max: 31, required: 'true' %>
                              <br>
                              <label class="form-label">Novos contratos</label>
                              <%= f.number_field :default_value, class: 'form-control', required: 'true' %>
                              <br>
                              <label class="form-label">Valor por dia de atraso em juros</label>
                              <%= f.number_field :default_interest, class: 'form-control', required: 'true' %>
                              <br>
                              <%= f.hidden_field :user_id, :value => current_user.id %>
                              <%= f.submit 'Salvar', class: 'btn btn-block btn-primary '%>
                          <% end %>

                    <h4 class="semi-bold no-margin"><%= @user.name %></h4>
                    <h6 class="no-margin"><%= @user.fantasy_name %></h6>
                    <br />
                    <p><%= "<i class='fa fa-phone'></i> #{@user.phone}".html_safe if @user.phone? %></p>
                    <p><%= "<i class='fa fa-envelope'></i> #{@user.email}".html_safe if @user.email? %></p>
                    <p><%= "<i class='fa fa-legal'></i> #{@user.social_reason}".html_safe if @user.social_reason? %></p>
                    <p><%= "<i class='fa fa-barcode'></i> #{@user.document}".html_safe if @user.document? %></p>
                  </div>

                      <% if current_user.accounts.count == 0 %>
                          <!-- ALERT -->
                          <div class="alert alert-info">
                            <button class="close" data-dismiss="alert"></button>
                            Você precisa cadastrar ao menos uma conta para poder gerar novos contratos bancários. <br />
                            Suportamos por enquanto apenas o Banco do Brasil e CAIXA.
                          </div>
                          <!-- / ALERT -->
                          <script type="text/javascript">
                              document.addEventListener("DOMContentLoaded", function(event) {
                                  Messenger().post("Adicione primeiramente uma conta bancária, sem ela você não pode gerar contratos!</a>");
                              });
                          </script>
                      <% end %>

                      <h4><span class="semi-bold">Contas bancárias</span></h4>
                    </div>
                    <%= link_to raw('Adicionar'), new_account_path, class: 'btn btn-primary btn-small' %>
                    <table class="table" id="banks">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Agência</th>
                        <th>Apelido</th>
                        <th>C/Corrente</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @user.accounts.each do |account| %>
                          <tr class="index-table" title="Clique para visualizar!" data-id="<%= account.id %>">
                            <td><%= account.bank.full_name %></td>
                            <td><%= account.agency %></td>
                            <td><%= account.nick %></td>
                            <td><%= account.account %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>

<% if notice %>
<%= notice %>!
<% end %>