<% unless notice.nil? %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
      <%= notice %>
    </div>
<% end %>

<h2>Contrato n° <%= to_contract_number params[:contract_id] %> </h2>
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>Vencimento</th>
        <th>Data de pagamento</th>
        <th>Opções</th>
        <th>Marcar como</th>
      </tr>
      </thead>

      <tbody>
      <% @installments.each do |installment| %>
          <tr class="<%= installment.paid ? 'success' : 'warning' %>">
            <td><%= due_date_formatted installment.due_date %></td>
            <td><%= installment.payment_date %></td>
            <td><%= link_to raw('<span class="glyphicon glyphicon-barcode"></span> Ver boleto'),
                            '/billet/generate_billet/%s/%d' % [:pdf, installment.id],
                            class: 'btn btn-primary center-block'  %></td>
            <td>
              <%= link_to 'Pago!','/update_installment/%d/%s' % [installment.id, true],
                          method: :post, class: 'btn btn-success center-block' %>
            </td>
            <td>
              <%= link_to 'Pendente!','/update_installment/%d/%s' % [installment.id, false],
                          method: :post, class: 'btn btn-warning center-block' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Voltar', contracts_path, class: 'btn btn-primary' %>

<% if notice %>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            Messenger().post("<%= notice %>!</a>");
        });
    </script>
<% end %>