<div class="section first">
  <div class="container">
    <div class=" p-b-60">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h2 class="p-t-40">Hey não seja tímido(a) diga um olá
            <span class="text-success semi-bold"> e quebre o gelo!</span></h2>
        </div>
      </div>
      <div class="row p-t-30">
        <div class="col-md-6 col-sm-6">
          <%= form_for @contact, :url => 'contato',
                       :html => {:class => 'form-horizontal' } do |f| %>
              <div class="row form-row">
                <div class="col-md-10">
                  <%= f.text_field :name, class: 'form-control', placeholder: 'Nome', required: true %>
                </div>
              </div>
              <div class="row form-row">
                <div class="col-md-10">
                  <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
                </div>
              </div>
              <div class="row form-row">
                <div class="col-md-10">
                  <%= f.text_area :message, :as => :text, class: 'form-control',
                                  placeholder: 'Mensagem', required: true, rows: 6 %>
                </div>
              </div>
              <div class="row form-row">
                <div class="col-md-10">
                  <%= f.submit 'Enviar mensagem', class: 'btn btn-primary btn-cons' %>
                </div>
              </div>
          <% end %>
        </div>
        <div class="col-md-6 feature-list">
          <h4 class="title custom-font text-black no-margin p-b-10">TELEFONE</h4>
          <p class="no-margin">
            <i class="fa fa-map-marker fa-lg p-r-10 "></i> Francisco Beltrão<br/>
            <span class="custom-font text-black"><i class="fa fa-phone fa-lg p-r-10"></i>(46) 9916-3882</span>
          </p>
          <section class="p-t-20 p-b-20">
            <h4 class="title custom-font text-black">ENDEREÇO</h4>
            <address>
              R. Antônio Marcelo, 166 Luther King<br>
              Paraná, Brasil<br>
              85605-440
            </address>
          </section>
          <section>
            <h4 class="title custom-font text-black">HORÁRIOS DE TRABALHO</h4>
            <p>
              Segunda - Sexta 08:00 às 18:00<br />
              Sábado - 08:00 às 12:00<br />
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'home/home_footer' %>