<a href="#features" name="features"></a>
<div class="section">
  <div class="container">
    <div class="p-t-40 p-b-40">
      <h2 class="text-center">Isso tudo é <span class="semi-bold">apenas o começo!</span> Tem muito
        <span class="semi-bold">mais chegando</span>...
        <%= link_to 'COMEÇE JÁ!', new_user_session_path, class: 'btn btn-purple btn-lg btn-large m-r-10' %>
      </h2>
    </div>
  </div>
</div>
<div class="section white ha-waypoint" data-animate-down="ha-header-color" data-animate-up="ha-header-hide" >
  <div class="container">
    <div class="p-t-60">
      <div class="row">
        <div class="col-md-12 feature-list ">
          <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
            <h4 class="title">GEO - LOCALIZAÇÃO</h4>
            <p>
              Deixe que o seu próprio passageiro descubra onde seu motorista está, e acabe de uma vez por todas
              com reclamações!
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
            <h4 class="title">CUSTOMIZAÇÃO</h4>
            <p>
              O sistema não é nosso, mas seu! Além da própria customização que você pode fazer, com uma simples
              sugestão podemos melhorá-lo muito mais para você!
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
            <h4 class="title">SOCIAL</h4>
            <p>
              Reclame. Converse. Compartilhe. Divirta-se. Com nosso chat imbutido é possível conversar de
              forma rápida e segura!
            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 feature-list">
          <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
            <h4 class="title">INFORMATIZAÇÃO DE PAGAMENTOS</h4>
            <p>
              Chega de carnês ou essas coisas do tempo do <b>EPA!</b>, utilize boletos, que são muito mais
              seguros e simples de usar! É conforto para você e seu passageiro!
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
            <h4 class="title">FLUXO DE CAIXA</h4>
            <p>
              Utilize nosso fluxo de caixa otimizado e assim aqueles gastos não saem da ponta do lápis! E você mantém um controle funcional e organizado!
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
            <h4 class="title">MÉTRICAS</h4>
            <p>
              <b>Km, combustível e pneus</b> Você sabe exatamente quanto gasta de pneus, combustível ou até mesmo a kilometragem em um dia? Com nossa ferramenta isso vai ficar cada vez mais claro, e aposto que você vai dizer: "como pude ficar tanto tempo sem isso?"
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="section relative">
        <div class="row">
          <img src="/assets/browser.png" alt="" class="resize p-t-60 col-md-9 hidden-xs" style=""
               data-ride="animated" data-animation="fadeInUp" data-delay="300">
          <img src="/assets/phone.png" alt=""
               class="resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md" data-ride="animated"
               data-animation="fadeInRight" data-delay="600" style="right:9%">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="section grey">
  <div class="container">
    <div class="p-t-40 p-b-50 ">
      <div class="row">
        <div class="col-md-12">
          <h2><span class="normal">Tornando sua vida mais fácil!</span><br />
            Estamos prontos para falar com <span class="normal">VOCÊ</span>
            <%= link_to 'Contato!', contact_path, class: 'btn btn-primary btn-cons m-l-30' %>
          </h2>
        </div>
      </div>
      <br>
      <div class="row feature-list">
        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="300">
          <h4 class="title custom-font">GERAMOS VALOR COM SEUS DADOS</h4>
          <p class="p-r-50">
            Por meios de dados coletados do GPS do seu celular, conseguimos aproximadamente é claro! fazer uma média de
            quanto você gasta e te mostrar isso detalhadamente, assim como qual motorista tem o pé de chumbo!
          </p>
        </div>
        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
          <h4 class="title custom-font">TUDO EM TEMPO REAL</h4>
          <p class="p-r-50">
            Mesmo com o computador desligado ou com o app desativado, o sistema irá te avisar seja por notificações ou
            emails dos eventos mais importantes que estão para acontecer!
          </p>
        </div>
        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
          <h4 class="title custom-font">SEGURO</h4>
          <p class="p-r-50">
            O que é seu é seu! Não compartilhamos e muito menos vendemos seus dados, assim como entram ficam
            confidenciais até o momento em que você acha que "já deu" e resolve parar!
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="section white">
  <div class="container">
    <div class="p-t-60 p-b-50 ">
      <div class="row feature-list">
        <div class="col-md-3 ">
          <h4 class="custom-font title">CLIENTES</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="<%= User.count + 321 %>" data-animation-duration="400">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="35%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="custom-font title">NÍVEL DE SATISFAÇÃO</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="63" data-animation-duration="800">0</span>%</h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="63%" ></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="custom-font title">USUÁRIOS FINAIS</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="<%= Passenger.count %>" data-animation-duration="800">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="custom-font title">CIDADES ALCANÇADAS</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="1209" data-animation-duration="900">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section table-layout">
  <div id="working-section" class="table-cell v-middle">
    <div >
      <h2 class="text-white text-center custom-font no-margin">CONSUMIDORES EXTREMAMENTE SATISFEITOS</h2>
    </div>
  </div>
</div>

<%= render 'home/home_footer' %>