<div class="section first">
  <div class="container p-t-30">
    <div class="page-header">
      <h1 class="normaltext-center"><span class="p-r-10">Preços e Planos</span>
        <small class="p-r-10">Simples e claros, sem truques na manga!</small>
      </h1>
    </div>
    <div class="p-t-10">
      <div class="row m-t-20 m-b-40">
        <% @plans.each do |plan| %>
            <div class="col-md-4 m-b-40">
              <div class="pricing-holder <%= 'highlighted' if plan.selected %>">
                <div class="inner">
                  <div class="title">
                    <%= plan.name %>/ <span class="price"><%= number_to_currency plan.price %></span>
                  </div>
                  <p class="desc"><%= plan.description.html_safe %></p>
                  <p class="desc text-error"><a href="#" class="text-error">Details</a> |
                    <a href="#" class="text-error">Licensing help</a></p>
                  <ul class="items">
                    <li class="available">
                      <div class="icon-holder">
                        <i class="fa <%= plan.clause ? 'fa-check text-success' : 'fa-times text-error' %>"></i>
                      </div>
                      <div class="desc">
                        <span class="text-black">Passageiros Ilimitados</span>
                        <br>
                        <span class="muted">(Sem restrições é só cadastrar e utilizar!)</span>
                      </div>
                    </li>
                    <li class="available">
                      <div class="icon-holder">
                        <i class="fa <%= plan.clause2 ? 'fa-check text-success' : 'fa-times text-error' %>"></i>
                      </div>
                      <div class="desc">
                        <span class="text-black">Domínio com o seu nome!</span>
                        <br />
                        <span class="muted">(Tenha o seu próprio endereço na web:
                            <b>cliente</b>.vanzeiro.com)</span>
                      </div>
                    </li>
                    <li class="available">
                      <div class="icon-holder">
                        <i class="fa <%= plan.clause3 ? 'fa-check text-success' : 'fa-times text-error' %>"></i>
                      </div>
                      <div class="desc">
                        <span class="text-black">GEO - Localização</span>
                        <br />
                        <span class="muted">(aplicativo de smartphone e gráficos)</span>
                      </div>
                    </li>
                    <li class="available">
                      <div class="icon-holder">
                        <i class="fa <%= plan.clause4 ? 'fa-check text-success' : 'fa-times text-error' %>"></i>
                      </div>
                      <div class="desc">
                        <span class="text-black">Pagamentos automatizados</span>
                        <br>
                        <span class="muted">(Com isso você pode fazer </span><br />
                        <span class="muted">suas cobranças via boleto)</span>
                      </div>
                    </li>
                  </ul>
                  <button class="btn btn-block btn-<%= plan.clause4 ? 'success' : 'danger' %>" type="button">Eu quero!</button>
                </div>
              </div>
            </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<%= render 'home/home_footer' %>