<%= form_for(@passenger, html: { class: 'form-no-horizontal-spacing', id: 'form-condensed' }) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <h4>Informações Básicas</h4>
        <div class="row form-row">
          <div class="col-md-12">
            <%= f.text_field :passenger_name, class: 'form-control', placeholder: 'Nome', required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.email_field :passenger_email, class: 'form-control', placeholder: 'Email', required: true  %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :passenger_phone, class: 'form-control', placeholder: 'Telefone' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-with-icon right input-append success date no-padding" style="width: 85%;">
              <i class=""></i>
              <%= f.text_field :passenger_birthday, class: 'form-control', placeholder: 'Data de Nasc.', required: true %>
              <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
            </div>
          </div>
          <div class="col-md-6">
            <%= f.text_field :passenger_cpf, class: 'form-control', placeholder: 'CPF', required: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= f.text_field :passenger_address, class: 'form-control', placeholder: 'Endereço' %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h4>Responsável</h4>
        <div class="row">
          <div class="col-md-12">
            <%= f.text_field :responsible_name, class: 'form-control', placeholder: 'Nome do responsável' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.email_field :responsible_email, class: 'form-control', placeholder: 'Email do responsável' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.text_field :responsible_cpf, class: 'form-control', placeholder: 'CPF do responsável' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.text_field :responsible_phone, class: 'form-control', placeholder: 'Telefone do responsável' %>
          </div>
        </div>
      </div>
    </div>
    <% if @passenger.errors.any? %>
        <div class="alert alert-block alert-error fade in col-md-10">
          <button type="button" class="close" data-dismiss="alert"></button>
          <h4 class="alert-heading"><i class="icon-warning-sign"></i> Atenção!</h4>
          A sua tentativa gerou <a href="#" class="link">
          <%= pluralize(@passenger.errors.count,'erro') %>: </a>
          <% @passenger.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </div>
    <% end %>
    <div class="pull-right">
      <%= f.submit 'Salvar', class: 'btn btn-danger btn-cons', id: 'submit_form' %>
    </div>
<% end %>