<%= render 'layouts/administrator_navbar' %>
<%= link_to "novo", new_passenger_path %>
<table class="table" id="passenger">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>CPF</th>
    <th style="width:23%">Progr. último contrato</th>
  </tr>
  </thead>
  <tbody>
  <% @passengers.each do | passenger | %>
      <tr class="index-table" title="Clique para visualizar!" data-id="<%= passenger.id %>">
        <td><%= passenger.passenger_name %></td>
        <td><%= passenger.passenger_email %></td>
        <td><%= passenger.passenger_phone %></td>
        <td><%= passenger.passenger_cpf %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if notice %>
<%= notice %>!
<% end %>