<%= form_for(@suggestion) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <br />
        <div class="row form-row">
          <div class="col-md-12">
            <%= f.text_field :title, class: 'form-control', maxlength: 4, required: true, placeholder: 'Título' %>
            <%= f.hidden_field :email, value: current_user.email %>
          </div>
          <div class="col-md-12">
            <%= f.text_area :description, class: 'form-control', rows: 5,
                            placeholder: 'Descrição: Nos diga o que viu, ou o que gostou, ou o que deseja melhorar!' %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.submit 'Enviar sugestão!', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
