<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @suggestion.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @suggestion.email %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
