<header class="header">
  <div class="container">
    <h1 class="header-title"><%=link_to 'Vanzeiro', root_path %></h1>
    <nav class="header-menu">
      <%= link_to raw('Dashboard'), root_path %>
      <%= link_to raw('Passageiros'), passengers_path %>
      <%= link_to raw('Fluxo de caixa'), movements_path %>
      <%= link_to raw('Contratos'), contracts_path %>
    </nav>
    <div class="header-profile-menu">
      <%= link_to eu_path do %>

      Bem vindo <%= current_user.name.split(' ')[0] %> <%= current_user.name.split(' ')[1] %>
      <% end %>
    </div>
  </div>
</header>