<% if current_user.blank? %>
    <div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
      <%= render 'layouts/visitor_navbar' %>
      <% unless current_page?(pricing_path)  || current_page?(contact_path) %>
          <%= render 'layouts/visitor_slider' %>
      <% end %>
    </div>
<% else %>
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="navbar-inner">
        <!-- BEGIN NAVIGATION HEADER -->
        <div class="header-seperation">
          <!-- BEGIN MOBILE HEADER -->
          <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
            <li class="dropdown">
              <a id="main-menu-toggle" href="#main-menu" class="">
                <div class="iconset top-menu-toggle-white"></div>
              </a>
            </li>
          </ul>
          <!-- END MOBILE HEADER -->
          <!-- BEGIN LOGO -->
          <a href="#">
            <img src="/assets/logo-w.png" class="logo" alt="" data-src="/assets/logo-w.png" data-src-retina="/assets/logo2x.png" width="106" height="21"/>
          </a>
          <!-- END LOGO -->
        </div>
        <!-- END NAVIGATION HEADER -->
        <!-- BEGIN CONTENT HEADER -->
        <div class="header-quick-nav">
          <!-- BEGIN HEADER LEFT SIDE SECTION -->
          <div class="pull-left">
            <!-- BEGIN SLIM NAVIGATION TOGGLE -->
            <ul class="nav quick-section">
              <li class="quicklinks">
                <a href="#" class="" id="layout-condensed-toggle">
                  <div class="iconset top-menu-toggle-dark"></div>
                </a>
              </li>
            </ul>
            <!-- END SLIM NAVIGATION TOGGLE -->
            <!-- BEGIN HEADER QUICK LINKS -->
            <ul class="nav quick-section">
              <li class="quicklinks"><a href="#" class=""></a></li>
            </ul>
            <!-- BEGIN HEADER QUICK LINKS -->
          </div>
          <!-- END HEADER LEFT SIDE SECTION -->
          <!-- BEGIN HEADER RIGHT SIDE SECTION -->
          <div class="pull-right">
            <!-- BEGIN HEADER NAV BUTTONS -->
            <ul class="nav quick-section">
              <!-- BEGIN SETTINGS -->
              <li class="quicklinks">
                <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#" id="user-options">
                  <div class="iconset top-settings-dark"></div>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-options">
                  <li>
                    <%= link_to raw('<i class="fa fa-male"></i>&nbsp;&nbsp; Perfil'), root_path %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to raw('<i class="fa fa-power-off"></i>&nbsp;&nbsp;Sair'), destroy_user_session_path %>
                  </li>
                </ul>
                <%= link_to raw('<div class="fa fa-lightbulb-o"></div>&nbsp;'), new_suggestion_path, title: 'Críticas e Sugestões!',
                            class: 'pull-right', style: 'font-size: 18px; color: #FDD01C; margin-top: -1px;' %>
              </li>
              <!-- END SETTINGS -->
            </ul>
            <!-- END HEADER NAV BUTTONS -->
          </div>
          <!-- END HEADER RIGHT SIDE SECTION -->
        </div>
        <!-- END CONTENT HEADER -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
<% end %>