<% if current_page?(pricing_path)  || current_page?(contato_path) %>
    <div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="compressed">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand compressed"><img src="/assets/logo-b.png" alt="" data-src="/assets/logo-b.png" data-src-retina="/assets/logo2x.png" width="119" height="22"/></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" >
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Entrar', entrar_path %></li>
              <li><%= link_to 'Planos', pricing_path %></li>
              <li><%= link_to 'Contato', contato_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<% else %>
    <div role="navigation" class="navbar navbar-transparent navbar-top">
      <div class="container">
        <div class="compressed">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><img src="/assets/logo-w.png" data-src="/assets/logo-w.png" data-src-retina="/assets/logo_2x.png" width="119" height="22" alt=""/></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" >
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Entrar', entrar_path %></li>
              <li><%= link_to 'Planos', pricing_path %></li>
              <li><%= link_to 'Contato', contato_path %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<% end %>
