<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Vanzeiro Open Source Edition - Cabuum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="Vanzeiro Open Source Edition" name="description" />
  <meta content="Cabuum" name="author" />

  <%= favicon_link_tag 'bus.ico' %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
    <body class="vanzeiro">

      <%= yield %>

      <%= javascript_include_tag 'application' %>

    </body>
</html>
