<div class="panel panel-default">
  <div class="panel-heading">
    <h1><strong><%= @account.bank.full_name %></strong> </h1>
    <p class="text-right">
      <%= link_to 'Editar', edit_account_path(@account), :class => 'btn btn-primary' %>
      <%= link_to 'Excluir', accounts_path, method: :delete,
                  data: { confirm: 'Deseja realmente excluir?' }, :type => 'button',
                  :class => 'btn btn-danger' %>
      <%= link_to 'Voltar', eu_path, :class => 'btn btn-primary' %>
    </p>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="panel-body">
    <div class="portlet-content">
      <%= form_for(@account) do |f| %>
          <div class="form-group col-md-4">
            <%= f.label 'Agencia' %>
            <div class="well well-sm"><%= @account.agency %></div>
          </div>
          <div class="form-group col-md-4">
            <%= f.label 'Conta' %>
            <div class="well well-sm"><%= @account.account %></div>
          </div>
          <div class="form-group col-md-4">
            <%= f.label 'Convênio' %>
            <div class="well well-sm"><%= @account.agreement %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '1° linha' %>
            <div class="well well-sm"><%= @account.instruction1 %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '2° linha' %>
            <div class="well well-sm"><%= @account.instruction2 %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '3° linha' %>
            <div class="well well-sm"><%= @account.instruction3 %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '4° linha' %>
            <div class="well well-sm"><%= @account.instruction4 %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '5° linha' %>
            <div class="well well-sm"><%= @account.instruction5 %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '6° linha' %>
            <div class="well well-sm"><%= @account.instruction6 %></div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label '7° linha' %>
            <div class="well well-sm"><%= @account.instruction7 %></div>
          </div>
      <% end %>
    </div>
  </div>
</div>